* {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

h2 {
  margin-top: 1rem;
  text-align: center;
  font-weight: 700;
  color: #666;
}

.App {
  display: grid;
  grid: min-content auto min-content / 1fr;
  min-height: 100vh;
}

main {
  margin: 1rem;
}
